<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/css/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="/css/login-style.css">

  <title>Login to application</title>


</head>

<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0&appId=650917843607824&autoLogAppEvents=1" nonce="7xrfUMGV"></script>


  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-md-6 order-md-2">
            <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
          </div> -->
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                <div class="mb-4">
                  <h3 style="color: beige;margin-bottom: -10px;">Sign In to <strong style="color: cornflowerblue;">Chat Application</strong></h3>
                </div>
                  <h5 class="error-message">
                    <% if (locals.message) { %>
                    <%= message %>
                    <% } %>
                  </h5>
                  <h5 class="notification">
                    <% if (locals.notification) { %>
                    <%= notification %>
                    <% } %>
                  </h5>
                        <form action="/login" method="post" class="login">
                          <div class="form-group first">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" name="email" id="email">

                          </div>
                          <div class="form-group last mb-4" style="margin-top: 30px;">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password">
                          </div>

                          <div class="d-flex mb-5 align-items-center">
                            <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                              <input type="checkbox" name="remember" checked="checked">
                              <div class="control__indicator"></div>
                            </label>
                            <span class="ml-auto"><a href="/forgot-password" class="forgot-pass"
                                style="color: #ffffff;">Forgot Password</a></span>
                          </div>

                          <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">


                          <span class="d-block text-center my-4 text-muted"> or sign in with
                          </span>
                          <div class="social-login">
                            <div id="g_id_onload"
                              data-client_id="269471794836-509hrmh7esmq2o36g6jqbn0c6nms02ug.apps.googleusercontent.com"
                              data-context="signin"
                              data-ux_mode="redirect"
                              data-login_uri="https://localhost:8080/login"
                              data-auto_prompt="false">
                            </div>
                            
                            <div class="g_id_signin"
                              data-type="standard"
                              data-shape="circle"
                              data-theme="outline"
                              data-text="continue_with"
                              data-size="medium"
                              data-logo_alignment="left"
                              data-width="300"
                              data-locale="en">
                            </div>
                            <br>
                            <div class="facebook-login-button">
                              <div class="fb-login-button" data-width="300" data-size="medium" data-button-type="continue_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false" 	
                              data-onlogin=facebookLogin()></div>
                            </div>
                          </div>
                        </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://accounts.google.com/gsi/client"></script>
  <script src="/js/libs/jquery-3.3.1.min.js"></script>
  <script src="/libs/popper/popper.min.js"></script>
  <script src="/js/libs/bootstrap.min.js"></script>
  <script src="/js/controllers/main.js"></script>
  <script src="/js/controllers/login.js"></script>
</body>

</html>